#ignore 
01
user_guide
CodeIgniter-3.1.10.zip
application/hooks/*
application/third_party/*
application/cache/*
application/core/*
application/language/*
application/libraries/*
composer.json
contributing.md
index.html
readme.rst
license.txt
system


*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
.DS_Store
ci/.editorconfig
ci/application/cache/index.html
ci/application/config/constants.php
ci/application/config/database.php
ci/application/config/doctypes.php
ci/application/config/foreign_chars.php
ci/application/config/hooks.php
ci/application/config/index.html
ci/application/config/memcached.php
ci/application/config/migration.php
ci/application/config/mimes.php
ci/application/config/profiler.php
ci/application/config/smileys.php
ci/application/config/user_agents.php
ci/application/core/index.html
ci/application/hooks/index.html
ci/application/index.html
ci/application/language/english/index.html
ci/application/language/index.html
ci/application/libraries/index.html
ci/application/logs/index.html
ci/application/third_party/index.html
ci/application/views/errors/cli/error_404.php
ci/application/views/errors/cli/error_db.php
ci/application/views/errors/cli/error_exception.php
ci/application/views/errors/cli/error_general.php
ci/application/views/errors/cli/error_php.php
ci/application/views/errors/cli/index.html
ci/application/views/errors/html/error_404.php
ci/application/views/errors/html/error_db.php
ci/application/views/errors/html/error_exception.php
ci/application/views/errors/html/error_general.php
ci/application/views/errors/html/error_php.php
ci/application/views/errors/html/index.html
ci/application/views/errors/index.html
ci/composer.json
ci/contributing.md
ci/index.html
ci/index.php
ci/license.txt
ci/readme.rst
ci/system/.htaccess
ci/system/core/Benchmark.php
ci/system/core/CodeIgniter.php
ci/system/core/Common.php
ci/system/core/compat/hash.php
ci/system/core/compat/index.html
ci/system/core/compat/mbstring.php
ci/system/core/compat/password.php
ci/system/core/compat/standard.php
ci/system/core/Config.php
ci/system/core/Controller.php
ci/system/core/Exceptions.php
ci/system/core/Hooks.php
ci/system/core/index.html
ci/system/core/Input.php
ci/system/core/Lang.php
ci/system/core/Loader.php
ci/system/core/Log.php
ci/system/core/Model.php
ci/system/core/Output.php
ci/system/core/Router.php
ci/system/core/Security.php
ci/system/core/URI.php
ci/system/core/Utf8.php
ci/system/database/.htaccess
ci/system/database/DB.php
ci/system/database/DB_cache.php
ci/system/database/DB_driver.php
ci/system/database/DB_forge.php
ci/system/database/DB_query_builder.php
ci/system/database/DB_result.php
ci/system/database/DB_utility.php
ci/system/database/drivers/cubrid/cubrid_driver.php
ci/system/database/drivers/cubrid/cubrid_forge.php
ci/system/database/drivers/cubrid/cubrid_result.php
ci/system/database/drivers/cubrid/cubrid_utility.php
ci/system/database/drivers/cubrid/index.html
ci/system/database/drivers/ibase/ibase_driver.php
ci/system/database/drivers/ibase/ibase_forge.php
ci/system/database/drivers/ibase/ibase_result.php
ci/system/database/drivers/ibase/ibase_utility.php
ci/system/database/drivers/ibase/index.html
ci/system/database/drivers/index.html
ci/system/database/drivers/mssql/index.html
ci/system/database/drivers/mssql/mssql_driver.php
ci/system/database/drivers/mssql/mssql_forge.php
ci/system/database/drivers/mssql/mssql_result.php
ci/system/database/drivers/mssql/mssql_utility.php
ci/system/database/drivers/mysql/index.html
ci/system/database/drivers/mysql/mysql_driver.php
ci/system/database/drivers/mysql/mysql_forge.php
ci/system/database/drivers/mysql/mysql_result.php
ci/system/database/drivers/mysql/mysql_utility.php
ci/system/database/drivers/mysqli/index.html
ci/system/database/drivers/mysqli/mysqli_driver.php
ci/system/database/drivers/mysqli/mysqli_forge.php
ci/system/database/drivers/mysqli/mysqli_result.php
ci/system/database/drivers/mysqli/mysqli_utility.php
ci/system/database/drivers/oci8/index.html
ci/system/database/drivers/oci8/oci8_driver.php
ci/system/database/drivers/oci8/oci8_forge.php
ci/system/database/drivers/oci8/oci8_result.php
ci/system/database/drivers/oci8/oci8_utility.php
ci/system/database/drivers/odbc/index.html
ci/system/database/drivers/odbc/odbc_driver.php
ci/system/database/drivers/odbc/odbc_forge.php
ci/system/database/drivers/odbc/odbc_result.php
ci/system/database/drivers/odbc/odbc_utility.php
ci/system/database/drivers/pdo/index.html
ci/system/database/drivers/pdo/pdo_driver.php
ci/system/database/drivers/pdo/pdo_forge.php
ci/system/database/drivers/pdo/pdo_result.php
ci/system/database/drivers/pdo/pdo_utility.php
ci/system/database/drivers/pdo/subdrivers/index.html
ci/system/database/drivers/pdo/subdrivers/pdo_4d_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_4d_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_cubrid_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_cubrid_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_dblib_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_dblib_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_firebird_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_firebird_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_ibm_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_ibm_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_informix_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_informix_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_mysql_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_mysql_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_oci_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_oci_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_odbc_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_odbc_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_pgsql_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_pgsql_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_sqlite_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_sqlite_forge.php
ci/system/database/drivers/pdo/subdrivers/pdo_sqlsrv_driver.php
ci/system/database/drivers/pdo/subdrivers/pdo_sqlsrv_forge.php
ci/system/database/drivers/postgre/index.html
ci/system/database/drivers/postgre/postgre_driver.php
ci/system/database/drivers/postgre/postgre_forge.php
ci/system/database/drivers/postgre/postgre_result.php
ci/system/database/drivers/postgre/postgre_utility.php
ci/system/database/drivers/sqlite/index.html
ci/system/database/drivers/sqlite/sqlite_driver.php
ci/system/database/drivers/sqlite/sqlite_forge.php
ci/system/database/drivers/sqlite/sqlite_result.php
ci/system/database/drivers/sqlite/sqlite_utility.php
ci/system/database/drivers/sqlite3/index.html
ci/system/database/drivers/sqlite3/sqlite3_driver.php
ci/system/database/drivers/sqlite3/sqlite3_forge.php
ci/system/database/drivers/sqlite3/sqlite3_result.php
ci/system/database/drivers/sqlite3/sqlite3_utility.php
ci/system/database/drivers/sqlsrv/index.html
ci/system/database/drivers/sqlsrv/sqlsrv_driver.php
ci/system/database/drivers/sqlsrv/sqlsrv_forge.php
ci/system/database/drivers/sqlsrv/sqlsrv_result.php
ci/system/database/drivers/sqlsrv/sqlsrv_utility.php
ci/system/database/index.html
ci/system/fonts/index.html
ci/system/fonts/texb.ttf
ci/system/helpers/array_helper.php
ci/system/helpers/captcha_helper.php
ci/system/helpers/cookie_helper.php
ci/system/helpers/date_helper.php
ci/system/helpers/directory_helper.php
ci/system/helpers/download_helper.php
ci/system/helpers/email_helper.php
ci/system/helpers/file_helper.php
ci/system/helpers/form_helper.php
ci/system/helpers/html_helper.php
ci/system/helpers/index.html
ci/system/helpers/inflector_helper.php
ci/system/helpers/language_helper.php
ci/system/helpers/number_helper.php
ci/system/helpers/path_helper.php
ci/system/helpers/security_helper.php
ci/system/helpers/smiley_helper.php
ci/system/helpers/string_helper.php
ci/system/helpers/text_helper.php
ci/system/helpers/typography_helper.php
ci/system/helpers/url_helper.php
ci/system/helpers/xml_helper.php
ci/system/index.html
ci/system/language/english/calendar_lang.php
ci/system/language/english/date_lang.php
ci/system/language/english/db_lang.php
ci/system/language/english/email_lang.php
ci/system/language/english/form_validation_lang.php
ci/system/language/english/ftp_lang.php
ci/system/language/english/imglib_lang.php
ci/system/language/english/index.html
ci/system/language/english/migration_lang.php
ci/system/language/english/number_lang.php
ci/system/language/english/pagination_lang.php
ci/system/language/english/profiler_lang.php
ci/system/language/english/unit_test_lang.php
ci/system/language/english/upload_lang.php
ci/system/language/index.html
ci/system/libraries/Cache/Cache.php
ci/system/libraries/Cache/drivers/Cache_apc.php
ci/system/libraries/Cache/drivers/Cache_dummy.php
ci/system/libraries/Cache/drivers/Cache_file.php
ci/system/libraries/Cache/drivers/Cache_memcached.php
ci/system/libraries/Cache/drivers/Cache_redis.php
ci/system/libraries/Cache/drivers/Cache_wincache.php
ci/system/libraries/Cache/drivers/index.html
ci/system/libraries/Cache/index.html
ci/system/libraries/Calendar.php
ci/system/libraries/Cart.php
ci/system/libraries/Driver.php
ci/system/libraries/Email.php
ci/system/libraries/Encrypt.php
ci/system/libraries/Encryption.php
ci/system/libraries/Form_validation.php
ci/system/libraries/Ftp.php
ci/system/libraries/Image_lib.php
ci/system/libraries/index.html
ci/system/libraries/Javascript.php
ci/system/libraries/Javascript/index.html
ci/system/libraries/Javascript/Jquery.php
ci/system/libraries/Migration.php
ci/system/libraries/Pagination.php
ci/system/libraries/Parser.php
ci/system/libraries/Profiler.php
ci/system/libraries/Session/drivers/index.html
ci/system/libraries/Session/drivers/Session_database_driver.php
ci/system/libraries/Session/drivers/Session_files_driver.php
ci/system/libraries/Session/drivers/Session_memcached_driver.php
ci/system/libraries/Session/drivers/Session_redis_driver.php
ci/system/libraries/Session/index.html
ci/system/libraries/Session/Session.php
ci/system/libraries/Session/Session_driver.php
ci/system/libraries/Session/SessionHandlerInterface.php
ci/system/libraries/Table.php
ci/system/libraries/Trackback.php
ci/system/libraries/Typography.php
ci/system/libraries/Unit_test.php
ci/system/libraries/Upload.php
ci/system/libraries/User_agent.php
ci/system/libraries/Xmlrpc.php
ci/system/libraries/Xmlrpcs.php
ci/system/libraries/Zip.php
*.html
.DS_Store
ci/application/views/themes/bootswatch/css/amelia.css
ci/application/views/themes/bootswatch/css/bootstrap-theme.css
ci/application/views/themes/bootswatch/css/bootstrap-theme.min.css
ci/application/views/themes/bootswatch/css/bootstrap.css
ci/application/views/themes/bootswatch/css/bootstrap.min.css
ci/application/views/themes/bootswatch/css/bootswatch.min.css
ci/application/views/themes/bootswatch/css/cerulean.css
ci/application/views/themes/bootswatch/css/cosmo.css
ci/application/views/themes/bootswatch/css/cyborg.css
ci/application/views/themes/bootswatch/css/default.css
ci/application/views/themes/bootswatch/css/flatly.css
ci/application/views/themes/bootswatch/css/journal.css
ci/application/views/themes/bootswatch/css/readable.css
ci/application/views/themes/bootswatch/css/simplex.css
ci/application/views/themes/bootswatch/css/slate.css
ci/application/views/themes/bootswatch/css/spacelab.css
ci/application/views/themes/bootswatch/css/united.css
ci/application/views/themes/bootswatch/css/yeti.css
ci/application/views/themes/bootswatch/fonts/glyphicons-halflings-regular.eot
ci/application/views/themes/bootswatch/fonts/glyphicons-halflings-regular.svg
ci/application/views/themes/bootswatch/fonts/glyphicons-halflings-regular.ttf
ci/application/views/themes/bootswatch/fonts/glyphicons-halflings-regular.woff
ci/application/views/themes/bootswatch/js/bootstrap.js
ci/application/views/themes/bootswatch/js/bootstrap.min.js
ci/application/views/themes/bootswatch/js/bootswatch.js
