#ignore 
01
user_guide
CodeIgniter-3.1.10.zip
application/hooks/*
application/third_party/*
application/cache/*
application/core/*
application/language/*
application/libraries/*


*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
