#ignore 
01
user_guide
CodeIgniter-3.1.10.zip
gig-central/*
gig-repo-1/*

application/hooks/*
application/third_party/*
application/cache/*
application/core/*
application/language/*
application/libraries/*
composer.json
contributing.md
index.html
readme.rst
license.txt
system


*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
.DS_Store
ci/.editorconfig
ci/application/cache/index.html
ci/application/config/*
ci/application/core/index.html
ci/application/hooks/index.html
ci/application/index.html
ci/application/language/english/index.html
ci/application/language/index.html
ci/application/libraries/index.html
ci/application/logs/index.html
ci/application/third_party/index.html
ci/application/views/errors/cli/*
ci/application/views/errors/html/*
ci/application/views/errors/index.html
ci/composer.json
ci/contributing.md
ci/index.html
ci/index.php
ci/license.txt
ci/readme.rst
ci/system/.htaccess
ci/system/core/*
ci/system/database/*
ci/system/*
*.html
.DS_Store
ci/application/views/*
